#root {
  max-width: 1280px;
  margin: 70px auto;
  padding: 2rem;
  text-align: center;
}

.title {
  font-size:5em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: transparent;
	background: linear-gradient(0deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%); 
	-webkit-background-clip: text;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

#page-footer {
  position: absolute;
  bottom: 0;
}

.player-name {
  height: 43px;
  font-size: 36px;
  border: none;
  outline: none;
  border-bottom: 2px solid #6a6363;
}

.player-name:focus {
  border-bottom: 2px solid #646cff
}

.register {
  margin-left: 50px;
}

#player-list {
  list-style-type: none;
  font-size: 36px;
  column-count: 2;
}

.list-elem {
  margin-bottom: 40px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.copy-right {
  color: #888;
}
